<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <script type="module" src="./js/index.js"></script>
  <title>Document</title>
</head>
<body>
  Hello!
  <form action="/data" method="POST">
    <button>Hämta data</button>
  </form>
  <div id="k_data">
    <% if(data) { %>
    <% for (let index = 0; index < data.length; index++) { %>
    <button class="drop_down">X</button>
    <div class="data_box">
      <% for (let j = 0; j < data[index].length; j++) { %>
        <p><%= data[index][j] %></p>
      <% } %>
    </div>
    <% } %>  
    <% } %>
  </div> 
</body>
</html>